body{
	background-image: url('/static/web/greyzz.png');
	font-family: 'Titillium Web', sans-serif;
}


img.message{
	width: 200px;
	height: 200px;
}
p.message{
	word-break: break-all;
	padding: 5px;
	display: flex;
	justify-content:space-between;
	background-image: url('/static/web/noisy_net.png');
	color: #fff;
}

.top_bar_message{
	display: flex;
	justify-content: space-between;
	font-size: 18px;
}

span.message{
	flex-shrink: 25;
}

p.self{
	background: white;
	border: 1px solid black;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	color: black;
}

span.user_name{
	color: green;
}

span.self{
	color: red;
}

span.user_list_item {
	display: block;
}

#chat_block{
	margin-top: 20px;
	height: 70%;
}
#message{
	overflow: scroll;
	height: 100%;
	padding: 10px;
}

#send{
	padding: 0 !important;
	height: 37px;
	width: 100px;
	background-image: url('/static/web/noisy_net.png');
	
}
#message_send{
	display: flex;
}

#user_list{
	text-transform: uppercase;
	color: #060;
	overflow: hidden;
}

#main_block{
	height: 100%;
}

::-webkit-scrollbar {
width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
    /*border-radius: 10px;*/
}
 
::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
}

::-ms-browse {
    background: black;
    color: red;
    padding: 1em;
}
::-webkit-browse {
    background: black;
    color: red;
    padding: 1em;
}

#low_line{
	display: flex;
}
#sup{
	display: inline-table;
}
#sub_form{
	font-size: 18px;
	display: flex;
	width: 50%;
	justify-content: flex-end;
}

#sub_form input{
	background: darkred;
	width: 90px;
	height: 25px;
	padding: 0;
	margin-left: 10px;
}

#error{
	text-align: center;
	font-size: 42px;
	color: red;
	text-transform: uppercase;
}