<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <title>Async chat</title>

   	<!-- JQuery -->
    	<script src="/static/jquery-2.1.0.js"></script>
    	<!-- Foundation -->
      <link rel="stylesheet" href="/static/foundation/css/foundation.css" />
      <script src="/static/foundation/js/vendor/modernizr.js"></script>
      <script src="/static/foundation/js/foundation/foundation.js"></script>
      <script src="/static/foundation/js/foundation/foundation.abide.js"></script>
  	<!-- Font -->`
  	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  </head>
 <body>
  <form id="sub_form" action="" method="post" data-abide class = 'large-3 large-centered columns'>
  	<div class="field">
  		<input type = 'text' name="name" placeholder='NICKNAME' required='' pattern="name">
  		<small class="error">Nickname is required and must be a string or string with numbers.</small>
  	</div>
  	<div class="field">
  		<input type = 'text' name="room" placeholder='ROOM NAME' required='' pattern="name">
  		<small class="error">Room name is required and must be a string or string with numbers.</small>
  	</div>
  	<div class="field">
  		<input type = 'password' name="room_pass" placeholder='ROOM PASSWORD' pattern="name">
  		<small class="error">Room password must be a string or string with numbers.</small>
  	</div>
      <input type="submit" class="login_button button expand" name='login' value="Login">
  </form>
</body>

<script>
	$(document).foundation({
	    abide: {
	        patterns: {
	            name: /(\d+|)+[a-zA-Z_]+(\d+|)/
	        }
	    }
	});
</script>

</html>

<style>
body{background-image: url('/static/web/pool_table.png');}

.login_button{
	background-color: #A5170F;
}

#sub_form{
	padding-top: 10%;
}

::-webkit-input-placeholder {
   color: #2B452E;
   opacity: 0.7;
}

:-moz-placeholder { /* Firefox 18- */
   color: #2B452E;
   opacity: 0.7;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #2B452E;
   opacity: 0.7;
}

:-ms-input-placeholder {
   color: #2B452E;
   opacity: 0.7;
}
</style>
