<body>
	<div id="chat_block" class = 'row'>
		<div id="main_block"  class="large-11 columns">
			<div id="message"></div>
			<div id="user_inter">
		    	<div id="message_send">
			    	<input type="text" id="sending_message" name="sending_message" placeholder='message'>
					<button  id="send" >SEND</button>
		    	</div>
		    	<div id="low_line">
			    	<input type="file" id='uploader'>
			    	<form id="sub_form" action="" method="post">
						<input type="submit" class = 'button' name = 'out' value = 'Quit'>
					</form>
				</div>
			</div>
		</div>
		<div id="user_list"  class="show-for-large-only"></div>
	</div>


	<div id='error' class="reveal-modal" data-reveal>

		<form id="" action="" method="post">
			<input type="submit" class = 'button' name = 'out' value = 'Quit' style = 'background: darkred;'>
		</form>
	</div>
	<style>
		body{
			background-image: url('/static/images/greyzz.png');
		}
	</style>
	</body>
